In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import numpy as np

In [52]:
csv = pd.read_csv('updated2.csv', encoding='latin-1')
csv.head(-1)

,date,AverageTemperatureF,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,42.9224,6.068,1.737,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1869
1,1744-04-01,42.4184,5.788,3.624,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
2,1744-05-01,51.1592,10.644,1.283,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
3,1744-06-01,57.2918,14.051,1.347,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
4,1744-07-01,60.9476,16.082,1.396,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
5,1744-09-01,55.0058,12.781,1.454,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
6,1744-10-01,46.3100,7.950,1.630,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
7,1744-11-01,40.3502,4.639,1.302,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
8,1744-12-01,32.2196,0.122,1.756,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
9,1745-01-01,29.6006,-1.333,1.642,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
10,1745-02-01,27.0824,-2.732,1.358,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
11,1745-03-01,32.2322,0.129,1.088,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
12,1745-04-01,39.2756,4.042,1.138,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
13,1750-01-01,35.0582,1.699,1.013,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
14,1750-02-01,39.1298,3.961,2.361,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
15,1750-03-01,41.3276,5.182,3.480,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
16,1750-04-01,44.9546,7.197,0.732,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
17,1750-05-01,51.1412,10.634,1.351,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
18,1750-06-01,58.8434,14.913,1.181,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
19,1750-07-01,64.0958,17.831,1.220,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
20,1750-08-01,62.3264,16.848,0.736,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
21,1750-09-01,55.6574,13.143,1.021,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
22,1750-10-01,41.4518,5.251,1.258,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
23,1750-12-01,30.7796,-0.678,1.808,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
24,1751-01-01,30.8786,-0.623,1.700,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
25,1751-02-01,25.2248,-3.764,2.329,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
26,1751-03-01,38.6600,3.700,1.672,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
27,1751-04-01,41.4806,5.267,0.850,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
28,1751-06-01,57.9722,14.429,1.579,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
29,1751-07-01,61.9484,16.638,0.890,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
...,...,...,...,...,...,...,...,...,...
1048544,1865-03-01,63.2588,17.366,2.072,Brakpan,South Africa,-8.84,112.70E,2011
1048545,1865-04-01,57.2558,14.031,1.574,Brakpan,South Africa,-8.84,112.70E,2011
1048546,1865-05-01,52.1780,11.210,1.472,Brakpan,South Africa,-8.84,112.70E,2011
1048547,1865-06-01,47.6420,8.690,1.388,Brakpan,South Africa,-8.84,112.70E,2011
1048548,1865-07-01,47.4008,8.556,1.377,Brakpan,South Africa,-8.84,112.70E,2011
1048549,1865-08-01,52.9214,11.623,1.658,Brakpan,South Africa,-8.84,112.70E,2011
1048550,1865-09-01,59.1782,15.099,1.702,Brakpan,South Africa,-8.84,112.70E,2011
1048551,1865-10-01,62.5496,16.972,1.550,Brakpan,South Africa,-8.84,112.70E,2011
1048552,1865-11-01,64.0562,17.809,1.741,Brakpan,South Africa,-8.84,112.70E,2011
1048553,1865-12-01,65.5664,18.648,1.894,Brakpan,South Africa,-8.84,112.70E,2011
1048554,1866-01-01,68.1260,20.070,1.436,Brakpan,South Africa,-8.84,112.70E,2011
1048555,1866-02-01,65.1668,18.426,1.538,Brakpan,South Africa,-8.84,112.70E,2012
1048556,1866-03-01,63.5450,17.525,1.710,Brakpan,South Africa,-8.84,112.70E,2012
1048557,1866-04-01,58.2170,14.565,1.497,Brakpan,South Africa,-8.84,112.70E,2012
1048558,1866-05-01,52.3994,11.333,1.570,Brakpan,South Africa,-8.84,112.70E,2012
1048559,1866-06-01,46.2002,7.889,1.334,Brakpan,South Africa,-8.84,112.70E,2012
1048560,1866-07-01,47.3540,8.530,1.539,Brakpan,South Africa,-8.84,112.70E,2012
1048561,1866-08-01,52.1618,11.201,1.532,Brakpan,South Africa,-8.84,112.70E,2012
1048562,1866-09-01,58.3916,14.662,1.566,Brakpan,South Africa,-8.84,112.70E,2012
1048563,1866-10-01,61.5722,16.429,1.534,Brakpan,South Africa,-8.84,112.70E,2012
1048564,1866-11-01,64.7978,18.221,1.402,Brakpan,South Africa,-8.84,112.70E,2012
1048565,1866-12-01,66.3458,19.081,1.826,Brakpan,South Africa,-8.84,112.70E,2012
1048566,1867-01-01,67.7030,19.835,1.641,Brakpan,South Africa,-8.84,112.70E,2012
1048567,1867-02-01,65.8652,18.814,1.463,Brakpan,South Africa,-8.84,112.70E,2013
1048568,1867-03-01,62.9078,17.171,1.503,Brakpan,South Africa,-8.84,112.70E,2013
1048569,1867-04-01,58.2476,14.582,1.709,Brakpan,South Africa,-8.84,112.70E,2013
1048570,1867-05-01,51.2888,10.716,1.328,Brakpan,South Africa,-8.84,112.70E,2013
1048571,1867-06-01,46.9382,8.299,1.322,Brakpan,South Africa,-8.84,112.70E,2013
1048572,1867-07-01,47.5862,8.659,1.450,Brakpan,South Africa,-8.84,112.70E,2013
1048573,1867-08-01,52.4786,11.377,1.634,Brakpan,South Africa,-8.84,112.70E,2013

In [53]:
df['Longitude'].value_counts()

88.25     30384
5.26      15830
139.23    12120
84.18     10012
4.26       9498
6.34       9498
7.88       9498
1.36       9498
107.84     9395
76.99      9357
72.00      9103
0.00       8103
120.83     8084
28.66      7619
86.50      7590
80.09      7524
77.50      7524
72.68      7524
33.93      7326
82.39      7323
77.27      7182
5.68       7021
90.00      6959
27.24      6332
2.45       6332
10.33      6332
8.29       6332
2.13       6332
46.31      6288
123.55     6284
          ...
106.55     1879
116.52     1879
114.91     1879
8.22       1876
25.85      1873
27.77      1873
14.79      1871
118.13     1843
42.25      1825
3.23       1777
47.32      1763
18.48      1735
12.91      1735
13.66      1735
16.88      1735
6.46       1735
10.45      1735
34.12      1726
7.30       1721
4.93       1721
9.86       1721
10.64      1721
39.17      1669
77.95      1651
35.83      1645
45.41      1645
73.49      1641
124.55     1626
127.77     1600
36.16      1598
Name: Longitude, Length: 313, dtype: int64

In [54]:
csv = csv.dropna()

In [55]:
df = pd.DataFrame(csv)

df['City'].nunique()

df.head()

,date,AverageTemperatureF,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,42.9224,6.068,1.737,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1869
1,1744-04-01,42.4184,5.788,3.624,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
2,1744-05-01,51.1592,10.644,1.283,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
3,1744-06-01,57.2918,14.051,1.347,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
4,1744-07-01,60.9476,16.082,1.396,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878

In [56]:
df['Country'].nunique()

df.head()

,date,AverageTemperatureF,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,42.9224,6.068,1.737,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1869
1,1744-04-01,42.4184,5.788,3.624,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
2,1744-05-01,51.1592,10.644,1.283,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
3,1744-06-01,57.2918,14.051,1.347,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
4,1744-07-01,60.9476,16.082,1.396,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878

In [57]:
df['date'].nunique()

df.head(-1)

,date,AverageTemperatureF,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,42.9224,6.068,1.737,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1869
1,1744-04-01,42.4184,5.788,3.624,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
2,1744-05-01,51.1592,10.644,1.283,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
3,1744-06-01,57.2918,14.051,1.347,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
4,1744-07-01,60.9476,16.082,1.396,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
5,1744-09-01,55.0058,12.781,1.454,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
6,1744-10-01,46.3100,7.950,1.630,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
7,1744-11-01,40.3502,4.639,1.302,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
8,1744-12-01,32.2196,0.122,1.756,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
9,1745-01-01,29.6006,-1.333,1.642,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
10,1745-02-01,27.0824,-2.732,1.358,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1878
11,1745-03-01,32.2322,0.129,1.088,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
12,1745-04-01,39.2756,4.042,1.138,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
13,1750-01-01,35.0582,1.699,1.013,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
14,1750-02-01,39.1298,3.961,2.361,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
15,1750-03-01,41.3276,5.182,3.480,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
16,1750-04-01,44.9546,7.197,0.732,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
17,1750-05-01,51.1412,10.634,1.351,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
18,1750-06-01,58.8434,14.913,1.181,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
19,1750-07-01,64.0958,17.831,1.220,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
20,1750-08-01,62.3264,16.848,0.736,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
21,1750-09-01,55.6574,13.143,1.021,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
22,1750-10-01,41.4518,5.251,1.258,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1879
23,1750-12-01,30.7796,-0.678,1.808,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
24,1751-01-01,30.8786,-0.623,1.700,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
25,1751-02-01,25.2248,-3.764,2.329,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
26,1751-03-01,38.6600,3.700,1.672,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
27,1751-04-01,41.4806,5.267,0.850,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
28,1751-06-01,57.9722,14.429,1.579,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
29,1751-07-01,61.9484,16.638,0.890,ÃÃÃÃ¤rhus,Denmark,0.80N,124.55E,1880
...,...,...,...,...,...,...,...,...,...
1048544,1865-03-01,63.2588,17.366,2.072,Brakpan,South Africa,-8.84,112.70E,2011
1048545,1865-04-01,57.2558,14.031,1.574,Brakpan,South Africa,-8.84,112.70E,2011
1048546,1865-05-01,52.1780,11.210,1.472,Brakpan,South Africa,-8.84,112.70E,2011
1048547,1865-06-01,47.6420,8.690,1.388,Brakpan,South Africa,-8.84,112.70E,2011
1048548,1865-07-01,47.4008,8.556,1.377,Brakpan,South Africa,-8.84,112.70E,2011
1048549,1865-08-01,52.9214,11.623,1.658,Brakpan,South Africa,-8.84,112.70E,2011
1048550,1865-09-01,59.1782,15.099,1.702,Brakpan,South Africa,-8.84,112.70E,2011
1048551,1865-10-01,62.5496,16.972,1.550,Brakpan,South Africa,-8.84,112.70E,2011
1048552,1865-11-01,64.0562,17.809,1.741,Brakpan,South Africa,-8.84,112.70E,2011
1048553,1865-12-01,65.5664,18.648,1.894,Brakpan,South Africa,-8.84,112.70E,2011
1048554,1866-01-01,68.1260,20.070,1.436,Brakpan,South Africa,-8.84,112.70E,2011
1048555,1866-02-01,65.1668,18.426,1.538,Brakpan,South Africa,-8.84,112.70E,2012
1048556,1866-03-01,63.5450,17.525,1.710,Brakpan,South Africa,-8.84,112.70E,2012
1048557,1866-04-01,58.2170,14.565,1.497,Brakpan,South Africa,-8.84,112.70E,2012
1048558,1866-05-01,52.3994,11.333,1.570,Brakpan,South Africa,-8.84,112.70E,2012
1048559,1866-06-01,46.2002,7.889,1.334,Brakpan,South Africa,-8.84,112.70E,2012
1048560,1866-07-01,47.3540,8.530,1.539,Brakpan,South Africa,-8.84,112.70E,2012
1048561,1866-08-01,52.1618,11.201,1.532,Brakpan,South Africa,-8.84,112.70E,2012
1048562,1866-09-01,58.3916,14.662,1.566,Brakpan,South Africa,-8.84,112.70E,2012
1048563,1866-10-01,61.5722,16.429,1.534,Brakpan,South Africa,-8.84,112.70E,2012
1048564,1866-11-01,64.7978,18.221,1.402,Brakpan,South Africa,-8.84,112.70E,2012
1048565,1866-12-01,66.3458,19.081,1.826,Brakpan,South Africa,-8.84,112.70E,2012
1048566,1867-01-01,67.7030,19.835,1.641,Brakpan,South Africa,-8.84,112.70E,2012
1048567,1867-02-01,65.8652,18.814,1.463,Brakpan,South Africa,-8.84,112.70E,2013
1048568,1867-03-01,62.9078,17.171,1.503,Brakpan,South Africa,-8.84,112.70E,2013
1048569,1867-04-01,58.2476,14.582,1.709,Brakpan,South Africa,-8.84,112.70E,2013
1048570,1867-05-01,51.2888,10.716,1.328,Brakpan,South Africa,-8.84,112.70E,2013
1048571,1867-06-01,46.9382,8.299,1.322,Brakpan,South Africa,-8.84,112.70E,2013
1048572,1867-07-01,47.5862,8.659,1.450,Brakpan,South Africa,-8.84,112.70E,2013
1048573,1867-08-01,52.4786,11.377,1.634,Brakpan,South Africa,-8.84,112.70E,2013

In [58]:
df['Longitude'] = df['Longitude'].str.replace('E', '')
df['Longitude'] = df['Longitude'].str.replace('W', '')
df['Latitude'] = df['Latitude'].str.replace('N', '')
df.to_csv('final.csv')
df.head(-1)

,date,AverageTemperatureF,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year
0,1743-11-01,42.9224,6.068,1.737,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1869
1,1744-04-01,42.4184,5.788,3.624,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
2,1744-05-01,51.1592,10.644,1.283,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
3,1744-06-01,57.2918,14.051,1.347,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
4,1744-07-01,60.9476,16.082,1.396,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
5,1744-09-01,55.0058,12.781,1.454,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
6,1744-10-01,46.3100,7.950,1.630,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
7,1744-11-01,40.3502,4.639,1.302,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
8,1744-12-01,32.2196,0.122,1.756,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
9,1745-01-01,29.6006,-1.333,1.642,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
10,1745-02-01,27.0824,-2.732,1.358,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1878
11,1745-03-01,32.2322,0.129,1.088,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
12,1745-04-01,39.2756,4.042,1.138,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
13,1750-01-01,35.0582,1.699,1.013,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
14,1750-02-01,39.1298,3.961,2.361,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
15,1750-03-01,41.3276,5.182,3.480,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
16,1750-04-01,44.9546,7.197,0.732,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
17,1750-05-01,51.1412,10.634,1.351,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
18,1750-06-01,58.8434,14.913,1.181,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
19,1750-07-01,64.0958,17.831,1.220,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
20,1750-08-01,62.3264,16.848,0.736,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
21,1750-09-01,55.6574,13.143,1.021,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
22,1750-10-01,41.4518,5.251,1.258,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1879
23,1750-12-01,30.7796,-0.678,1.808,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
24,1751-01-01,30.8786,-0.623,1.700,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
25,1751-02-01,25.2248,-3.764,2.329,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
26,1751-03-01,38.6600,3.700,1.672,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
27,1751-04-01,41.4806,5.267,0.850,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
28,1751-06-01,57.9722,14.429,1.579,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
29,1751-07-01,61.9484,16.638,0.890,ÃÃÃÃ¤rhus,Denmark,0.80,124.55,1880
...,...,...,...,...,...,...,...,...,...
1048544,1865-03-01,63.2588,17.366,2.072,Brakpan,South Africa,-8.84,112.70,2011
1048545,1865-04-01,57.2558,14.031,1.574,Brakpan,South Africa,-8.84,112.70,2011
1048546,1865-05-01,52.1780,11.210,1.472,Brakpan,South Africa,-8.84,112.70,2011
1048547,1865-06-01,47.6420,8.690,1.388,Brakpan,South Africa,-8.84,112.70,2011
1048548,1865-07-01,47.4008,8.556,1.377,Brakpan,South Africa,-8.84,112.70,2011
1048549,1865-08-01,52.9214,11.623,1.658,Brakpan,South Africa,-8.84,112.70,2011
1048550,1865-09-01,59.1782,15.099,1.702,Brakpan,South Africa,-8.84,112.70,2011
1048551,1865-10-01,62.5496,16.972,1.550,Brakpan,South Africa,-8.84,112.70,2011
1048552,1865-11-01,64.0562,17.809,1.741,Brakpan,South Africa,-8.84,112.70,2011
1048553,1865-12-01,65.5664,18.648,1.894,Brakpan,South Africa,-8.84,112.70,2011
1048554,1866-01-01,68.1260,20.070,1.436,Brakpan,South Africa,-8.84,112.70,2011
1048555,1866-02-01,65.1668,18.426,1.538,Brakpan,South Africa,-8.84,112.70,2012
1048556,1866-03-01,63.5450,17.525,1.710,Brakpan,South Africa,-8.84,112.70,2012
1048557,1866-04-01,58.2170,14.565,1.497,Brakpan,South Africa,-8.84,112.70,2012
1048558,1866-05-01,52.3994,11.333,1.570,Brakpan,South Africa,-8.84,112.70,2012
1048559,1866-06-01,46.2002,7.889,1.334,Brakpan,South Africa,-8.84,112.70,2012
1048560,1866-07-01,47.3540,8.530,1.539,Brakpan,South Africa,-8.84,112.70,2012
1048561,1866-08-01,52.1618,11.201,1.532,Brakpan,South Africa,-8.84,112.70,2012
1048562,1866-09-01,58.3916,14.662,1.566,Brakpan,South Africa,-8.84,112.70,2012
1048563,1866-10-01,61.5722,16.429,1.534,Brakpan,South Africa,-8.84,112.70,2012
1048564,1866-11-01,64.7978,18.221,1.402,Brakpan,South Africa,-8.84,112.70,2012
1048565,1866-12-01,66.3458,19.081,1.826,Brakpan,South Africa,-8.84,112.70,2012
1048566,1867-01-01,67.7030,19.835,1.641,Brakpan,South Africa,-8.84,112.70,2012
1048567,1867-02-01,65.8652,18.814,1.463,Brakpan,South Africa,-8.84,112.70,2013
1048568,1867-03-01,62.9078,17.171,1.503,Brakpan,South Africa,-8.84,112.70,2013
1048569,1867-04-01,58.2476,14.582,1.709,Brakpan,South Africa,-8.84,112.70,2013
1048570,1867-05-01,51.2888,10.716,1.328,Brakpan,South Africa,-8.84,112.70,2013
1048571,1867-06-01,46.9382,8.299,1.322,Brakpan,South Africa,-8.84,112.70,2013
1048572,1867-07-01,47.5862,8.659,1.450,Brakpan,South Africa,-8.84,112.70,2013
1048573,1867-08-01,52.4786,11.377,1.634,Brakpan,South Africa,-8.84,112.70,2013

In [33]:
# df.columns=['date', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
#        'Country', 'Latitude', 'Longitude', 'year', 'AverageTemperatureF']

In [34]:
df.groupby(['year'])

In [35]:
# Assign X (data) and y (target)
X = df[['date', 'AverageTemperature', 'AverageTemperatureUncertainty', 'City',
        'Country', 'Latitude', 'Longitude', 'year']]
y = df["AverageTemperatureF"].values.reshape(-1, 1)
print(X.shape, y.shape)

(1048575, 8) (1048575, 1)

In [31]:
# Split the data into training and testing
from sklearn.model_selection import train_test_split

X = pd.get_dummies(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

X_train.head()

MemoryError:

In [ ]:
from sklearn.preprocessing import StandardScaler

# # Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [ ]:
# # Transform the training and testing data using the X_scaler and y_scaler models
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [ ]:
# Create a LinearRegression model and fit it to the scaled training data
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

In [ ]:
# Make predictions using the X_test_scaled data
# Plot y_test_scaled vs y_test_scaled
# Scatter plot y_test_scaled vs predictions

predictions = model.predict(X_test_scaled)
# scale predicted y values back to original domain
predictions = y_scaler.inverse_transform(predictions)
plt.scatter(model.predict(X_train_scaled), model.predict(X_train_scaled) - y_train_scaled, c="blue", label="Training Data")
plt.scatter(model.predict(X_test_scaled), model.predict(X_test_scaled) - y_test_scaled, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test_scaled.min(), xmax=y_test_scaled.max())
plt.title("Residual Plot")
plt.show()